/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}


/******************************************
/* COLOURS
/*******************************************/

:root {
  --blue: #25CED1;
  --white: #FFFFFF;
  --cream: #FCEADE;
  --orange: #FF8A5B;
  --red: #EA526F;
  --green: #EA526F;

}


/******************************************
/* LAYOUT
/*******************************************/

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
body {
  display: grid;
  place-items: center;
  margin: auto auto;
  text-align: center;
  font-size: 2.6rem;
  height: 100vh;
  width: 100vw;
  background-color: var(--orange);
  color: rgb(30, 18, 17)
}
.game-container {
  background-color: grey;
  width: 60%;
  min-width: 400px;
  max-width: 900px;
  /* height: 6%; */
  padding: 32px;
  background-color: var(--cream);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.281);
  

}

.action-container {
  display: flex;
  justify-content: space-around;
  padding: 0px 32px;
  margin: 64px auto;
  height: 128px;
  
}
.hands-container {
  /* background-color: blue; */
  width: 400px;
  margin: 0 auto;
  user-select: none;
}

.hand {
  font-size: 120px;
  cursor: pointer;
}

.handSelector:active{
  transform: scale(98%)
}

h4 {
  font-style: italic;
  margin-bottom: 8px;
}

span {
  font-weight: 700;
}


.shake {
  animation: shake 1s;
  animation-iteration-count: 3;
}

.hidden {
  display: none !important ;
}

.winner {
  color: var(--blue);
}
.loser {
  color: var(--red);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@keyframes shake {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
}
